@model SteamAchievements.Web.Models.SettingsViewModel
@{
    ViewBag.Title = Strings.TitleHome;
}
@section head
{
    <style type="text/css">
        #steamUserIdHeading
        {
            font-size: 200%;
        }
        #profileImage
        {
            width: 69px;
            height: 69px;
            padding: 0 5px 5px 0;
        }
    </style>
}
@Html.Hidden("steamUserIdHidden", Model.SteamUserId)
<div id="steamIdError" style="display: none;">
    You haven't set your Steam Community Profile URL. Please set it on the
    @Html.CanvasLink("settings", "Settings")
    page.
    @Html.HelpLink(Strings.ButtonHelp, "Configure_your_Steam_Community_Profile")
</div>
<div id="profileDiv">
</div>
<fieldset>
    <legend>Games</legend>
    <div>
        <p>
            @Strings.GamesIntructions
            @Html.HelpLink(Strings.ButtonHelp, "Supported_Games")
        </p>
        <img id="loadingGames" class="loading" src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Loading..." />
    </div>
    <div id="gamesDiv" class="games">
    </div>
</fieldset>
<div id="log" style="display: none;">
    <span id="errorLiteral"></span>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/default.js")"></script>
