@model SettingsViewModel
@{
    ViewBag.Title = Strings.TitlePublish;
}
<h1>
    Publish</h1>
@Html.Hidden("steamUserIdHidden", Model.SteamUserId)
@Html.Hidden("publishDescriptionHidden", Model.PublishDescription)
@Html.Hidden("enableLogHidden", (bool)ViewBag.EnableLog)
<div id="steamIdError" style="display: none;">
    You haven't set your Steam Community Profile URL. Please set it on the
    @Html.CanvasLink("settings", "Settings")
    page.
    @Html.HelpLink(Strings.ButtonHelp, "Configure_your_Steam_Community_Profile")
</div>
<div id="achievementsUpdateFailure" style="display: none;">
    Your achievements could not be updated. If this problem continues, 
    please verify that your Custom URL is correct and that your Steam Community Profile is public.
    @Html.HelpLink(Strings.ButtonHelp, "Configure_your_Steam_Community_Profile")
    <p class="error-message hidden"></p>
</div>
<fieldset>
    <legend>Unpublished Achievements</legend>
    <p>
        @Strings.PublishInstructions</p>
    <div id="buttons" class="hidden">
        <a id="publishSelectedButton" class="button check" data-role="button" data-icon="check" data-inline="true" href="#">@Strings.ButtonPublish</a>
        <a id="hideSelectedButton" class="button delete" data-role="button" data-icon="delete" data-inline="true" href="#">Hide</a>
    </div>
    <div id="noUnpublishedMessage" style="display: none;">
        You have no unpublished achievements.</div>
    <img id="newAchievementsLoading" class="loading" src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Getting unpublished achievements..." />
    <div id="newAchievements" class="unpublished">
    </div>
</fieldset>
<div id="log">
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/publish.js")"></script>
