<!DOCTYPE html>
<html>
<head>
    <title>Steam Achievements - @ViewBag.Title</title>
    <link href="~/Content/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/themes/redmond/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    @Styles.Render(BundlePaths.CanvasTheme)
    @RenderSection("head", false)
</head>
    <body>
        @Html.Partial("_FacebookPartial")
        <div id="topAdWrapper">
            @Html.Ad(AdLocation.Top)
        </div>
        <div class="fbbody">
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
            <script type="text/javascript">
                if (!window.jQuery)
                {
                    // fallback on local jquery if CDN fails
                    document.write('<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" />');
                    document.write('<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"><\/script>');
                    document.write('<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.22.min.js")"><\/script>');
                }
            </script>
            <div class="header">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/themes/canvas/banner-light.png" alt="Steam Achievements" />
                </a>
            </div>
            <div class="menu">
                @Html.Partial("_MenuPartial")
            </div>
            <div id="body">
                @RenderBody()
            </div>
            <div class="footer">
                @Html.Disclaimer()
                <p>
                    Version @Html.Version().</p>
            </div>
        </div>
        <div id="bottomAdWrapper">
            @Html.Ad(AdLocation.Bottom)
        </div>
        @Scripts.Render(BundlePaths.CanvasScripts)
        @RenderSection("scripts", required: false)
        @Html.UserVoice()
        @Html.Analytics()
    </body>
</html>
