@helper IsActive(string action, string controller)
{
    @((ViewContext.RouteData.Values["action"].ToString() == action && ViewContext.RouteData.Values["controller"].ToString() == controller) ? "active" : "");
}

<ul class="nav nav-tabs">
    <li role="presentation" class="@IsActive("Index", "Home")">@Html.CanvasLink(Strings.MenuHome, "Index")</li>
    <li role="presentation" class="@IsActive("Games", "Home")">@Html.CanvasLink(Strings.MenuGames, "Games")</li>
    <li role="presentation" class="@IsActive("Settings", "Home") @IsActive("SaveSettings", "Home")">@Html.CanvasLink(Strings.MenuSettings, "Settings")</li>
    <li role="presentation">@Html.HelpLink(Strings.MenuHelp)</li>
</ul>