@{
    string bodyId = ViewContext.RouteData.Values["controller"] + "-" + ViewContext.RouteData.Values["action"];
}
<!DOCTYPE html>
<html>
<head>
    <title>Steam Achievements Mobile - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    @Styles.Render(BundlePaths.MobileTheme)
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js "></script>
    <script type="text/javascript">
        $(document).bind("mobileinit", function ()
        {
            //apply overrides here
            $.mobile.ajaxEnabled = false;
        });
    </script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script type="text/javascript">
        if (!window.jQuery)
        {
            // fallback on local jquery if CDN fails
            document.write('<link rel="stylesheet" href="@Url.Content("~/Content/jquery.mobile-1.1.1.min.css")" />');
            document.write('<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"><\/script>');
            document.write('<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mobile-1.1.1.min.js")"><\/script>');
        }
    </script>
    @Scripts.Render(BundlePaths.MobileScripts)

    @RenderSection("head", false)
</head>
<body>
    <div id="@bodyId" data-role="page">
        <div id="topAdWrapper">
            @Html.Ad(AdLocation.Top)
        </div>
        <div data-role="header">
            <div class="banner">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/themes/mobile/banner-light-mobile.png" alt="Steam Achievements" />
                </a>
            </div>
            <div class="menu" data-role="navbar">
                @Html.Partial("_MobileMenuPartial")
            </div>
        </div>
        <div data-role="content">
            @Html.Partial("_FacebookPartial")
            @RenderBody()
        </div>
        <div class="footer ui-bar" data-role="footer">
            Version @Html.Version().
            <button class="about">About</button>
            <div class="disclaimer hidden">
                @Html.Disclaimer()
            </div>
        </div>
        @RenderSection("scripts", required: false)
        <div id="bottomAdWrapper">
            @Html.Ad(AdLocation.Bottom)
        </div>
        @Html.Analytics()
    </div>
</body>
</html>
