@model IEnumerable<Game>
<ul>
    @foreach (var game in Model)
    {
        <li class="game"><a target="_blank" href="@(game.StatsUrl)?tab=achievements">
            <img src="@game.ImageUrl" alt="@game.Name" title="@game.Name" />
            <h3 class="name">@game.Name</h3>
        </a></li>
    }
</ul>
