@model IEnumerable<GameModel>
@{
    int i = 0;
}

<div class="row">
@foreach (var game in Model)
{
    if (i%3 == 0 && i > 0)
    {
        @:</div><div class="row">
    }
    <div class="game col-md-4">
        <a target="_blank" href="@(game.StatsUrl)?tab=achievements">
            <img src="@game.ImageUrl" alt="@game.Name" title="@game.Name"/>
            <h4 class="name">@game.Name</h4>
        </a>
    </div>
    i++;
}
</div>